<script src="scripts/claims.js" defer></script>
<div class="container claims">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" >
  </div>
  <div class="form-group">
    <label for="url">URL</label>
    <input type="text" class="form-control" id="url">
  </div>
  <button type="submit" class="btn btn-warning btn-md" id="add-claim">
      Add</button>
  <br/>
  <br/>
  <!-- <ul class="list-group"> -->
    {{#each user.claims}}
      <!-- <li class="list-group-item"> -->
        <div class="col-md-4">
          <a class="claim-link" href="{{url}}" target="_blank">
            <div class="claim">
              <span class="claim-text"><p>{{claimText}}</p></span>
              <p>
                <img src="{{imgSrc}}">
                <span class="page-title">{{pageTitle}}</span>
              </p>
            </div>
          </a>
        </div>
        <!-- <a href="{{url}}" target="_blank">{{title}}</a> -->
      <!-- </li> -->
    <!-- </ul> -->
    {{/each}}
</div>
